 **HAPPY CODING!** (BOLD)

*HAPPY CODING!* (ITALICIZED)

***HAPPY CODING!*** (Italicized +Bold)

#HAPPY CODING! (with more emphasis)

###HAPPY CODING! (with less emphasis)

########HAPPY CODING! (with more less emphasis)

###########################HAPPY CODING! (with very less emphasis)

~~HAPPY CODING!~~ `HAPPY CODING` (Strikethrough and monospace)

>HAPPY CODING!
>>HAPPY CODING!
>>>HAPPY CODING!

#***`HOW I FEEL BEING PART OF FTW FAMILY`***


1.   Nervous (I don't know anyone from my batchmates, but I'm sure they are so supportive and kind, and I was right.)
2.   Excited (Everything is new, I look like a grade 1 student who wants to learn everything in 14 weeks)
3.   Intimidated (After the 1st meeting, because I think I was surrounded with very talented people in the world.)
4.   Inspired (With our different stories, how can you not be inspired!)
5.   Tired but Challenged (How can you not be tired after 8 hours working for your living, here comes your assignments that need to be finished. But it's alright, that's part of my journey.)

#**WHAT I WANT TO DO AFTER THE 14-WEEKS TRAINING?**
>* Meet my new family, face to face. (Our mentors & my batchmates)
>* Sit on a table with a bunch of food with my ftw family.
>* Treat myself for a well job done!
>* Celebrate with my husband and daughter for "MAMA" did a great accomplishments.
>* Of course, lastly, look for a job as Data Scientist.

These are the things I wanna do written in no particular order.

In [24]:
print('WELCOME TO MY FIRST CODING EXPERIENCE')

WELCOME TO MY FIRST CODING EXPERIENCE

In [25]:
print('By Miss Dothy C. Gumamela')

By Miss Dothy C. Gumamela

In [1]:
import pandas as pd

In [2]:
dc=pd.read_csv('/Online Retail.csv')

In [16]:
#When you want to check the first 5 rows of the data (it is the default)
dc.head()

   Unnamed: 0  InvoiceNo StockCode  ...    Column1  CustomerID         Country
0           0     581483     23843  ...  168469.60       16446  United Kingdom
1           1     541431     23166  ...   77183.60       12346  United Kingdom
2           2     556444     22502  ...   38970.00       15098  United Kingdom
3           3     551697      POST  ...    8142.75       16029  United Kingdom
4           4     567423     23243  ...    7144.72       17450  United Kingdom

[5 rows x 10 columns]

In [6]:
#When you want to check on the first 8 rows of the data
dc.head(8)

   InvoiceNo StockCode  ... CustomerID         Country
0     581483     23843  ...      16446  United Kingdom
1     541431     23166  ...      12346  United Kingdom
2     556444     22502  ...      15098  United Kingdom
3     551697      POST  ...      16029  United Kingdom
4     567423     23243  ...      17450  United Kingdom
5     540815     21108  ...      15749  United Kingdom
6     550461     21108  ...      15749  United Kingdom
7     573003     23084  ...      14646     Netherlands

[8 rows x 9 columns]

In [7]:
#one way of describing data
dc.describe('')

           InvoiceNo       Quantity  ...        Column1     CustomerID
count  397924.000000  397924.000000  ...  397924.000000  397924.000000
mean   560617.126645      13.021823  ...      22.394749   15294.315171
std     13106.167695     180.420210  ...     309.055588    1713.169877
min    536365.000000       1.000000  ...       0.000000   12346.000000
50%    561893.000000       6.000000  ...      11.800000   15159.000000
max    581587.000000   80995.000000  ...  168469.600000   18287.000000

[6 rows x 5 columns]

In [8]:
#another way of describing data
dc.describe()

           InvoiceNo       Quantity  ...        Column1     CustomerID
count  397924.000000  397924.000000  ...  397924.000000  397924.000000
mean   560617.126645      13.021823  ...      22.394749   15294.315171
std     13106.167695     180.420210  ...     309.055588    1713.169877
min    536365.000000       1.000000  ...       0.000000   12346.000000
25%    549234.000000       2.000000  ...       4.680000   13969.000000
50%    561893.000000       6.000000  ...      11.800000   15159.000000
75%    572090.000000      12.000000  ...      19.800000   16795.000000
max    581587.000000   80995.000000  ...  168469.600000   18287.000000

[8 rows x 5 columns]

In [14]:
#function that removes missing values
dc.dropna()

        Unnamed: 0  InvoiceNo StockCode  ...    Column1  CustomerID         Country
0                0     581483     23843  ...  168469.60       16446  United Kingdom
1                1     541431     23166  ...   77183.60       12346  United Kingdom
2                2     556444     22502  ...   38970.00       15098  United Kingdom
3                3     551697      POST  ...    8142.75       16029  United Kingdom
4                4     567423     23243  ...    7144.72       17450  United Kingdom
...            ...        ...       ...  ...        ...         ...             ...
397919      397919     577129     22464  ...       0.00       15602  United Kingdom
397920      397920     577168         M  ...       0.00       12603         Germany
397921      397921     577314     23407  ...       0.00       12444          Norway
397922      397922     577696         M  ...       0.00       16406  United Kingdom
397923      397923     578841     84826  ...       0.00       13256  United Kingdom

[397924 rows x 10 columns]

In [34]:
#saving new copy of dataset without missing values
dc.to_csv('ONLINERETAILNEW.csv')

In [35]:
dc=pd.read_csv('/content/ONLINERETAILNEW.csv')

In [13]:
dc.describe()

          Unnamed: 0      InvoiceNo  ...        Column1     CustomerID
count  397924.000000  397924.000000  ...  397924.000000  397924.000000
mean   198961.500000  560617.126645  ...      22.394749   15294.315171
std    114870.908595   13106.167695  ...     309.055588    1713.169877
min         0.000000  536365.000000  ...       0.000000   12346.000000
25%     99480.750000  549234.000000  ...       4.680000   13969.000000
50%    198961.500000  561893.000000  ...      11.800000   15159.000000
75%    298442.250000  572090.000000  ...      19.800000   16795.000000
max    397923.000000  581587.000000  ...  168469.600000   18287.000000

[8 rows x 6 columns]

In [40]:
dc.download('/content/ONLINERETAILNEW.csv')

AttributeError: ignored